@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  padding: 2em;
}

nav > * {
  margin: 0 2em;
  color: darkgray;
}

nav > *:focus {
  margin: 0 2em;
  color: black;
}

.Bookstore-CMS {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bolder;
  color: #0290ff;
}

.book-section {
  background-color: whitesmoke;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
  padding: 0.1em;
  background-color: white;
}

.container > ul {
  list-style: none;
  text-align: start;
  padding: 2em;
  width: 100%;
}

button {
  width: 20em;
  height: 3em;
  margin: 2em;
}

.newTask-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.newTask-container form {
  justify-content: space-between;
}

input,
select {
  padding: 0.7em;
  margin-right: 2em;
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn-container button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: rgb(37, 89, 179);
  padding: 0;
  margin: 0.6em;
  width: auto;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}
